.logo{
   width: 20vw;
}

.parent{
   display: flex;
   flex-direction: column;
   margin-left: 3rem;
   margin-top: 1rem;
   align-items: flex-start;
   width: 50%;
   margin-right: 3rem;
}

.heading{
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 2rem;
   text-align: left;
   margin-left: 2rem;
   width: 75%;
}

.subHeading{
   font-family: 'Inter';
   font-weight: 300;
   font-size: 1.2rem;
   text-align: left;
   width: 75%;
   margin-left: 2rem;
}

.image{
   margin-top: 1rem;
   width: 80%;
   align-self: center;
}