.parent {
	width: 50%;
	overflow: hidden;
	position: relative;
	height: 20rem;
}

.image {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.title {
	position: absolute;
	bottom: 3rem;
	display: block;
	font-family: "Kite One";
	color: white;
	background-color: black;
	padding: 0.5rem;
	z-index: 2;
}

.fade_in {
	transition: opacity 1s ease;
	color: red;
}

.fade_out {
	color: red;
	opacity: 0;
	transition: opacity 1s ease;
}

